<meta charset="utf-8" />
<style>

	.tes__container {

		font-family: Arial, Helvetica;

		position: fixed;

		width: 100%;

		height: 100%;

		top: 0;

		left: 0;

		right: 0;

		bottom: 0;

		background: rgba(0,0,0,.75);

		z-index: 99998;

	}	

	.tes__title {

		font-weight: bold;

		font-size: 14px;

		color: #589800;

		position: absolute;

		top: 10px;

		left: 20px;

		padding: 0;

		margin: 0;

	}

	.tes__title:after {

		  content: '';

		  height: 1px;

		  background: #589800;

		  top: 24px;

		  left: -20px;

		  width: 540px;

		  position: absolute;

	}

	.tes__form {

		position: absolute;

		width: 500px;

		padding: 40px 20px 10px;

		left: 50%;

		margin: 0 0 0 -270px;

		top: 10%;

		z-index: 99999;

		background: #fff;

		border: 1px solid #589800;		

	}

	.tes__selected-text {

		font-style: italic;

		padding: 0;

		margin: 0;

	}

	.tes__close {

		position: absolute;

		top: -5px;

		right: 16px;

		cursor: pointer;

		transform: rotate(45deg);

		font-size: 40px;

		color: #589800;

	}

	.tes__close:hover {

		color: #007F16;

	}

	.tes__submit {

		float: right;

		cursor: pointer;

		border: none;

		background: #589800;

		color: #fff;

		padding: 5px 10px;

	}

	.tes__submit:hover {

		background: #007F16;

	}

</style>



<div>

	"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 

	dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 

	ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 

	fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 

	mollit anim id est laborum."

</div>



<script>



;(function()

	{

		var selectedText = '',

			comment = '',

			isForm = false;

		

		function getSelection()

		{

			var selection = "";

            if (window.getSelection) {

                selection = window.getSelection().toString();

            } else if (document.selection && document.selection.type != "Control") {

				console.log(document.selection.type);

                selection = document.selection.createRange().text;

            }

            return selection ? selection : 0;

		}

		

		function createForm()

		{

			if( isForm ) return false;

			var container = document.createElement('div'),

				title = document.createElement('p'),

				form = document.createElement('form'),

				text = document.createElement('p'),

				submit = document.createElement('input'),

				close = document.createElement('span');

				

			container.classList.add('tes__container');

			container.id = 'tes-container';

			

			title.classList.add('tes__title');

			title.innerText = 'Отправить текст с ошибкой';

			

			form.classList.add('tes__form');

			form.action = '';

			form.method = 'POST';

			form.appendChild(title);

			form.appendChild(text);

			form.appendChild(submit);

			form.appendChild(close);

			form.addEventListener('submit', function(e)

				{

					e.preventDefault();

					

					var json = {

							url : window.location.href, 

							text : selectedText, 

							comment : comment 

						},

						xhr = new XMLHttpRequest();

					

					xhr.open('POST', 'handler.php', true);

					xhr.setRequestHeader('Content-Type', 'application/json');

					

					xhr.send(JSON.stringify({textError : json}));

					

					xhr.onreadystatechange = function() {

						if (xhr.readyState != 4) return;



						if (xhr.status != 200)

						{

							//console.log('Error');

							console.log(xhr.status + ': ' + xhr.statusText);

						} else 

						{

							//console.log('Success');

							console.log(xhr.responseText);

						}

					}

				}

			);

			

			text.classList.add('tes__selected-text');

			text.innerText = selectedText;

			

			submit.type = 'submit';

			submit.classList.add('tes__submit');

			

			close.classList.add('tes__close');

			close.innerText = '+';

			close.addEventListener('click', function()

				{

					container.parentNode.removeChild(container);

					isForm = false;

				}

			);

			

			container.appendChild(form);

			document.body.appendChild(container);

			

			isForm = true;

		}

	

		document.addEventListener('keypress', function()

			{

				if((event.ctrlKey) && ((event.keyCode == 0xA)||(event.keyCode == 0xD)))

				{

					selectedText = getSelection();

					

					if(selectedText) createForm();

				}

			}

		);

	}

)();



    /**

     * Inspired by jQuery.Bukvus: Nazar Tokar

     * @type {{getSelection: Function}}

     

    var spelling = {

        'getSelection': function () {

            var selection = "";

            if (window.getSelection) {

                selection = window.getSelection().toString();

            } else if (document.selection && document.selection.type != "Control") {

                selection = document.selection.createRange().text;

            }

            return selection;

        }

    }



    // автор JS - jQuery.Bukvus: Nazar Tokar, 2013

    jQuery('<div>', {id: 'RERR', style: 'display:none;'}).prependTo('html');



    function RERR() {

        // :))))

        RERR_se(RERR_gs());

    }



    function RERR_gs() { // get selection

        var t = "";

        if (window.getSelection) {

            t = window.getSelection().toString();

        } else if (document.selection && document.selection.type != "Control") {

            t = document.selection.createRange().text;

        }

        return t;

    }



    function RERR_sm(m) { // show message

        button = "<br><br><input style='padding: 10px 20px 10px 20px;border-radius: 10px;' type='button' onclick='jQuery(\"#RERR\").hide();' value='<?php echo __('Ok','RERR')?>'>"

        jQuery("#RERR").show();

        jQuery("#RERR").html("<br><font style='font-size:14pt;'>" + m + "</font>" + button);



        //alert(m);

    }



    function RERR_se(t) { // send error

        if (t.length < 4) {

            RERR_sm("<?php echo __('Please, select inaccuracy or typo for letting us know.','RERR').'<br><br>'.__('Thanks!','RERR'); ?>");

        } else if (t.length > 2000) {

            RERR_sm("<?php echo __('Too much text, choose less!','RERR'); ?>");

        } else {



            message = "<b><?php _e('Thanks! You selected:','RERR'); ?></b><div style='overflow:auto;width:100%;height:50px;margin-bottom:4px!important;padding-left:2px;padding-right:2px;'><font style='font-size:10pt;'><span id='rerr_selected'>" + t + "</span></font></div><b><?php _e('Your Comment:','RERR'); ?></b><br><textarea style='height:40px!important;' id='rerr_message'></textarea><br><nobr><input type='button' value='<?php _e('Submit','RERR'); ?>' onclick='post_error();'>&nbsp;<input type='button' value='<?php _e('Cancel','RERR'); ?>' onclick='jQuery(\"#RERR\").hide();'></nobr>";



            jQuery("#RERR").show();

            jQuery("#RERR").html(message);



        }

    }



    function post_error() {



        jQuery("#RERR").hide();





        jQuery.post("<?php echo get_home_url(); ?>?RERR=send", {

                    err: jQuery("#rerr_message").val(),

                    url: location.href,

                    txt: jQuery("#rerr_selected").text()

                },

                function (data) {

                    if (data.result == "ok") {

                        RERR_sm(data.message);

                    } else {

                        RERR_sm(data.error);

                    }

                }, "json");





    }





    jQuery(document).keydown(function (e) {

        if (e.keyCode == 13 && e.ctrlKey) { // отправка

            if (jQuery('#RERR').is(':visible')) {

                jQuery("#RERR").hide();

                jQuery("#RERR").html('');

            }

            RERR();

        }

    });*/



</script>
